<div class="row g-2 d-flex justify-content-around">
    <div class="col-md-10">
        <div class="row g-2">
            
            <div class="col-md-4">
                <select
                    class="form-select border-0 py-3"
                    #typeSelect="ngModel"
                    
                    [(ngModel)]="propertyType" 
                >
                    <option value="">Tipo de propriedade</option>
                    
                    @for (type of propertyTypes; track type) {
                        <option [value]="type">
                            {{ type }}
                        </option>
                    }
                </select>
            </div>

            <div class="col-md-4">
                <select
                    class="form-select border-0 py-3"
                    #locationSelect="ngModel"
                    
                    [(ngModel)]="location"
                >
                    <option value="">Localização</option>
                    
                    @for (loc of locations; track loc) {
                        <option [value]="loc">
                            {{ loc }}
                        </option>
                    }
                </select>
            </div>
            
        </div>
    </div>

    <div class="col-md-2">
        <button
            class="btn btn-dark border-0 w-100 py-3"
            
            (click)="handleSearch()"
        >
            Procurar
        </button>
    </div>
</div>