<div class="grid grid-cols-12 gap-4 items-center">
    
    <div class="col-span-12 lg:col-span-9">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            
            <div class="md:col-span-1">
                <select
                    [(ngModel)]="propertyType"
                    (change)="propertyType = propertyType" 
                    class="w-full p-3 rounded-lg border-none focus:outline-none focus:ring-2 focus:ring-white bg-white text-gray-800"
                >
                    <option value="">Tipo de propriedade</option>
                    @for (type of propertyTypes; track type) {
                        <option [value]="type">{{ type }}</option>
                    }
                </select>
            </div>

            <div class="md:col-span-1">
                <select
                    [(ngModel)]="location"
                    (change)="location = location" 
                    class="w-full p-3 rounded-lg border-none focus:outline-none focus:ring-2 focus:ring-white bg-white text-gray-800"
                >
                    <option value="">Localização</option>
                    @for (loc of locations; track loc) {
                        <option [value]="loc">{{ loc }}</option>
                    }
                </select>
            </div>
            
            </div>
    </div>

    <div class="col-span-12 lg:col-span-3">
        <button
            (click)="handleSearch()"
            class="bg-gray-800 text-white font-semibold w-full py-3 rounded-lg hover:bg-gray-900 transition duration-300 shadow-lg"
        >
            Procurar
        </button>
    </div>
</div>