<div class="py-16 sm:py-24 animate-fade-in">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        
        <div class="max-w-xl mx-auto">
            
            <i class="fas fa-exclamation-triangle text-6xl sm:text-8xl text-blue-600 mb-6"></i>
            
            <h1 class="text-7xl sm:text-9xl font-extrabold text-gray-900 mb-4">404</h1>
            
            <h2 class="text-3xl sm:text-4xl font-bold mb-6 text-gray-800">Página Não Encontrada</h2>
            
            <p class="mb-8 text-lg text-gray-600">
                Lamentamos, mas a página que você procurou não existe em nosso site! Talvez vá para a nossa página inicial ou tente usar uma pesquisa?
            </p>
            
            <a routerLink="/"
               class="inline-block bg-blue-600 text-white font-semibold py-3 px-8 rounded-lg hover:bg-blue-700 transition duration-300 shadow-lg">
                Voltar para a Página Inicial
            </a>
            
        </div>
    </div>
</div>