<div>
    <div class="py-12 sm:py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-end mb-10">
                
                <div class="lg:col-span-2">
                    <div class="text-left mx-auto">
                        <h2 class="text-3xl sm:text-4xl font-bold mb-3 text-gray-800 animate-slide-in-left">
                            Imóveis Disponíveis
                        </h2>
                        <p class="text-gray-600">
                            Explore nossa seleção de imóveis disponíveis para aluguel e encontre o lar perfeito para você. Cada opção é cuidadosamente selecionada para atender às suas necessidades e estilo de vida.
                        </p>
                    </div>
                </div>
                
                <div class="hidden lg:block">
                    </div>
            </div>
            
            <div>
                <app-rental-list></app-rental-list>
                
                <div class="col-span-full text-center mt-10">
                    <a routerLink="/rentals"
                       class="inline-block bg-blue-600 text-white font-semibold py-3 px-8 rounded-lg hover:bg-blue-700 transition duration-300 shadow-md">
                        Mostrar mais Imóveis
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <app-cta></app-cta>
</div>